<!-- Extend common student navbar and secondary header from student.tmpl -->
{% extends "student/student.tmpl" %}

<!-- Webpage title -->
{% block title %}Dashboard{% endblock %}

<!-- Inherits stylesheets from base.html -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">    
{% endblock %}

<!-- Set courses in navbar to active class-->
{% block courses %}active{% endblock %}

<!-- On page header displaying where you are in the course navigation -->
{% block pageHeader %}{{ courseName[0:4] + " " + courseName[4:] }} / Dashboard{% endblock %}

<!-- Set dashboard in header to active class-->
{% block dashboard %}active{% endblock %}

<!-- This is where page content goes -->
{% block content %}
    {{ super() }}
    <!-- Contains a list of files uploaded by the teacher -->
    <div class="container-body">
        {% if files %}
            <div class="uploaded-files">
                <h3>Course Files</h3>
                <ul>
                    {% for file in files %}
                        <li>
                            <a href="{{ url_for('download_file', file_id=file.fileId) }}">
                                <span class="material-symbols-outlined">download</span>
                                {{ file.fileName }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="no-files-message">
                There are no files to download! Please check back later.
            </div>
        {% endif %}
    </div>
{% endblock %}

