{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courses.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let courses = document.getElementsByClassName("banner");
            let green = "rgba(207,234,195,255)";
            let yellow = "rgba(236,228,195,255)";
            let pink = "rgba(254,219,215,255)";
            let blue = "rgba(193,220,235,255)";
            let purple = "rgba(216, 215, 254, 255)";
            let colors = [green, yellow, pink, blue, purple];
            let colorIndex = 0;
            for (let i = 0; i < courses.length; i++) {
                courses[i].style.backgroundColor = colors[colorIndex];
                colorIndex++;
                if (colorIndex > colors.length - 1) {
                    colorIndex = 0;
                }
            }
            
        });
    </script>
{% endblock %}
{% block pageHeader %}Homepage{% endblock %}
{% block navTop %}
    <a href="#" id="logo"><span class="material-symbols-outlined size-36">school</span></a>
    <a href="#" id="account"><span class="material-symbols-outlined">account_circle</span>Account</a>
    <a href="{{ url_for('home') }}" id="home" class="active"><span class="material-symbols-outlined">home</span>Home</a>
    <a href="#" id="courses"><span class="material-symbols-outlined">library_books</span>Courses</a>
    <a href="#" id="search"><span class="material-symbols-outlined">search</span>Search</a>
{% endblock %}
{% block navBottom %}
    <a href="{{ url_for('logout') }}" id="log"><span class="material-symbols-outlined">logout</span>Logout</a>
{% endblock %}
{% block content %}   
    <div class="container-body overflow">
        {% for course in courses %}
        <a href="{{ url_for('courseDashboard', courseId=course[0], courseName=course[1]) }}" class="course">
            <div class="banner"></div>
            <div class="course-info">
                <p>{{ course[1][0:4] + " " + course[1][4:] }}</p>
                <p>FULL COURSE NAME</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
