<!-- Extend common student navbar and secondary header from student.tmpl -->
{% extends "student/student.tmpl" %}

<!-- Webpage title -->
{% block title %}Dashboard{% endblock %}

<!-- Inherits stylesheets from base.html -->
{% block head %}
    {{ super() }}  
{% endblock %}

<!-- Set courses in navbar to active class-->
{% block courses %}active{% endblock %}

<!-- On page header displaying where you are in the course navigation -->
{% block pageHeader %}{{ courseName[0:4] + " " + courseName[4:] }} / Dashboard{% endblock %}

<!-- Set dashboard in header to active class-->
{% block dashboard %}active{% endblock %}

<!-- This is where page content goes -->
{% block content %}
    {{ super() }}
    <!-- Contains a list of files uploaded by the teacher -->
    <div class="container-body">

    </div>
{% endblock %}
