<!-- Extend common student navbar and secondary header from student.tmpl -->
{% extends "student/student.tmpl" %}

<!-- Webpage title -->
{% block title %}People{% endblock %}

<!-- Inherits stylesheets from base.html -->
{% block head %} 
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">    
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/button.css') }}">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='CSS/seeGrades.css') }}">
    <script src="{{ url_for('static', filename='JS/seeGrades.js')}}"></script>
{% endblock %}

<!-- Set courses in navbar to active class-->
{% block courses %}active{% endblock %}

<!-- On page header displaying where you are in the course navigation -->
{% block pageHeader %}{{ courseName[0:4] + " " + courseName[4:] }} / People{% endblock %}

<!-- Set people in header to active class-->
{% block people %}active{% endblock %}

<!-- This is where page content goes -->
{% block content %}
    {{ super() }}
    <div class="main-container">
        <div class="gradesheader">
            <span></span>
            <span></span><span></span><span></span>
        </div> 
        <!-- Display every instructor in course -->
        <div class="grades">
        {% for instructor in instructors %}
        <div class="grade">
            <div class = "gradeGroup">
                <span class="gradeTitle material-symbols-outlined" style="width:2em;">person</span>
                <span style="width: 10em; margin-right: 20em;">{{ instructor[1] }} {{ instructor[2] }}</span><span></span><span>Instructor</span>
            </div>
        </div>
        {% endfor %}
        <!-- Display every student enrolled in course -->
        {% for person in people %}
        <div class="grade">
            <div class = "gradeGroup">
                <span class="gradeTitle material-symbols-outlined" style="width:2em;">person</span>
                <span style="width: 10em; margin-right: 20em;">{{ person[1] }} {{ person[2] }}</span><span></span><span>Student</span>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
