<!-- Extend common student navbar from student.tmpl -->
{% extends "student/student.html" %}

<!-- Webpage title -->
{% block title %}Search{% endblock %}

<!-- Inherits stylesheets from base.html -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/searchCourses.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        //
        // Handle user search request from user
        //
        function search() {
            searchTerm = $('#input').val();

            loadPage(searchTerm)
        }

        //
        // Query the server and update the screen with a given search term
        //
        function loadPage(searchTerm) {
            $.post('search', {'searchTerm': searchTerm})
                .done(function(data) {
                    createElements(data);
                })
        }

        //
        // Create list elements with json formated course data
        //
        function createElements(data) {

            jsonData = JSON.parse(data)

            document.getElementById('courses').innerHTML = '';   

            // Create a list element for each course
            for (let i = 0; i < jsonData.length; i++) {
                // Main div
                div = document.createElement('div');
                div.classList.add('course');
                
                // Header
                headerdiv = document.createElement('div');
                headerdiv.classList.add('courseTitle');
                headerdiv.innerHTML = jsonData[i][1] + ' | ' + jsonData[i][2];
                div.appendChild(headerdiv);

                // Course Information
                courseInfo = document.createElement('div');
                courseInfo.classList.add('courseInfo');
                courseInfo.classList.add('hidden');
                courseInfo.innerHTML = 'Credits: ' + jsonData[i][3] + ' | Session: ' + jsonData[i][4] + ' | Term: ' + jsonData[i][5];
                courseInfo.id = 'courseInfo-' + i;
                div.appendChild(courseInfo);
                
                // Join button in course infomation
                joinButton = document.createElement('button');
                joinButton.classList.add('join');
                courseInfo.appendChild(joinButton);
                
                // Handle join course request
                if (jsonData[i][9] == 1) {
                    // Course Request denied
                    joinButton.innerHTML = 'Request Denied';
                    joinButton.classList.add('requested');
                    joinButton.addEventListener('click', function(){
                        alert('Your request has been denied')
                    })
                } else {
                     if (jsonData[i][8] == 0) {
                        // Course can be requested
                        joinButton.innerHTML = 'Request to join';
                        joinButton.addEventListener('click', function(){
                            joinCourse(jsonData[i][0] + '');
                        });
                    } else {
                        // Course has already been requested
                        joinButton.classList.add('requested');
                        joinButton.innerHTML = 'Requested';
                        joinButton.addEventListener('click', function(){
                            alert('You have already request to join this course')
                        })
                    }
                }
                // Toggle the visablity of the course information div
                div.addEventListener('click', function(){
                    toggleHidden('courseInfo-' + i);
                });

                document.getElementById('courses').appendChild(div);
            }
        }

        // Toggles the visability of a given course info div
        // Selected by 'courseInfo-' + courseId
        function toggleHidden(courseInfoId) {
            document.getElementById(courseInfoId).classList.toggle('hidden')
        }

        // Tells the server that the student would like to join the course
        function joinCourse(courseId) {
            $.post('/Course/'+ courseId+'/join')
                .done( function (){
                    alert('Successfully Requested Course');
                });
        }

        // On page load get all courses
        document.addEventListener("DOMContentLoaded", function(){
            loadPage('');
        });
    </script>
{% endblock %}

<!-- Set search in navbar to active class-->
{% block search %}active{% endblock %}

<!-- On page header displaying where you are in the navigation -->
{% block pageHeader %}
<style> 
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
</style>
    <div>Search for Courses</div>
    <div style="display: flex; flex-direction: row; align-items: center; gap: 16px;">
        <input type="text" id="input" placeholder="Search...">
        <button onclick="search()">
            <span class="material-symbols-outlined">search</span>Search
        </button>
    </div>
{% endblock %}


<!-- This is where page content goes -->
{% block content %}  
    <div class="container-body">

        <div id="courses" style="overflow-y: auto;">

        </div>
    </div>
{% endblock %}
