{% extends "base.html" %}
{% block title %}Assignments{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/seeGrades.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">    
{% endblock %}
{% block pageHeader %}{{ courseName[0:4] + " " + courseName[4:] }} / Assignments{% endblock %}
{% block navTop %}
    <a href="#" id="logo"><span class="material-symbols-outlined size-36">school</span></a>
    <a href="{{ url_for('updateAccount') }}" id="account"><span class="material-symbols-outlined">account_circle</span>Account</a>
    <a href="{{ url_for('home') }}" id="home"><span class="material-symbols-outlined">home</span>Home</a>
    <a href="#" id="courses"  class="active"><span class="material-symbols-outlined">library_books</span>Courses</a>
    <a href="#" id="search"><span class="material-symbols-outlined">search</span>Search</a>
{% endblock %}
{% block navBottom %}
    <a href="{{ url_for('logout') }}" id="log"><span class="material-symbols-outlined">logout</span>Logout</a>
{% endblock %}
{% block content %}
    <!-- Secondary header for course pages -->
    <header>
        <a href="{{ url_for('courseDashboard', courseId=courseId, courseName=courseName) }}" id="Dashboard">Dashboard</a>
        <a href="{{ url_for('seeAssignments', courseId=courseId, courseName=courseName) }}" id="Assignments" class="active">Assignments</a>
        <a href="{{ url_for('seeGrades', courseId=courseId, courseName=courseName) }}" id="Grades">Grades</a>
        <a href="{{ url_for('studentCoursePeople', courseId=courseId, courseName=courseName) }}" id="People">People</a>
    </header>
    <!-- Contains a list of assignments created by the teacher -->
    <div class="main-container">
        <div class="gradesheader">
            <span></span>
            <span></span><span></span><span></span>
        </div> 
        
        <!-- Display  every assignment in course-->
        <div class="grades">
        {% for assignment in assignments %}
        <a href="{{url_for('studentAssignment', courseId=courseId, courseName=courseName, assignmentId=assignment[0], assignmentName=assignment[1]|safe)}}">
        <div class="grade">
            <div class = "gradeGroup">
                <span class="gradeTitle">Assignment {{ assignment[0] }} ({{ assignment[1] }})</span>
                    <span></span><span></span><span></span>
            </div>
        </div>
        </a>
        {% endfor %}
        
        </div>
    </div>
{% endblock %}
