{% extends "base.html" %}
{% block title %}Grades{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/seeGrades.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">  
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Create variables
            let groups = document.getElementsByClassName("grade");
            let assignmentButton = groups[0].children[0];
           
            let buttons = [];
            let toggle = true;
            var assignments = document.getElementsByClassName("g");
            for (let i = 0; i < assignments.length; i++) {
                let questions = assignments[i].querySelectorAll(" .avg");
                let avg = 0;
                for (let j = 0; j<questions.length; j++) {
                    avg += parseFloat(questions[j].id);
                }
                avg = avg/questions.length;
                assignments[i].querySelector(" .total2").innerHTML = (Math.round(avg*100)/100) + "%";
                assignments[i].querySelector(" .total").innerHTML = (Math.round(avg*100)/100) +"/100";
            }
            // Adds hide class to each gradeItem
            for (let i = 0; i < groups.length; i++) {
                buttons.push(groups[i].children[0]);
                for (let j = 1; j < groups[i].children.length; j++) {
                    groups[i].children[j].classList.add("hide");
                }
            }
            
            // When element is clicked, sets distance a variable for animation and unhides/hides gradeItems
            function click(index) {
                for (let i = 1; i < groups[index].children.length; i++) {
                    let t = i*-3.3 + "";
                    t += "em";
                    groups[index].children[i].style.setProperty("--slide", t);
                    toggle = groups[index].children[i].classList.toggle("hide");
                    
                }
            }
            // Creates onClick listeners for each gradeGroup
            for (let i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", function() {
                    click(i);
                });
            }
        });
    </script>
{% endblock %}
{% block pageHeader %}{{ courseId[0:4] + " " + courseId[4:] }} / Grades for {{ username }}{% endblock %}
{% block navTop %}
    <a href="#" id="logo"><span class="material-symbols-outlined size-36">school</span></a>
    <a href="#" id="account"><span class="material-symbols-outlined">account_circle</span>Account</a>
    <a href="{{ url_for('home') }}" id="home"><span class="material-symbols-outlined">home</span>Home</a>
    <a href="#" id="courses"  class="active"><span class="material-symbols-outlined">library_books</span>Courses</a>
    <a href="#" id="search"><span class="material-symbols-outlined">search</span>Search</a>
{% endblock %}
{% block navBottom %}
    <a href="{{ url_for('logout') }}" id="log"><span class="material-symbols-outlined">logout</span>Logout</a>
{% endblock %}
{% block content %}
    <!-- Secondary header for course pages -->
    <header>
        <a href="{{ url_for('courseDashboard', courseId=courseId) }}" id="Dashboard">Dashboard</a>
        <a href="{{ url_for('seeAssignments', courseId=courseId) }}" id="Assignments">Assignments</a>
        <a href="{{ url_for('seeGrades', courseId=courseId) }}" id="Grades" class="active">Grades</a>
        <a href="{{url_for('studentCoursePeople', courseId=courseId)}}" id="People">People</a>
    </header>

    <div class="container-body" style="flex-direction: column; gap: 0;">
        <div class="gradesheader">
            <span>Grade Item</span>
            <span>Grade</span><span>Percentage</span><span>Comment</span>
        </div> 
        <div class="grades">
            {% for assignment in assignments %}
            <div class="grade g"id="{{assignment[0]}}">
                <div class = "gradeGroup">
                    <span class="gradeTitle">&#9660; Assignment {{ assignment[0] }} ({{ assignment[1] }})</span>
                    <span class="total"></span><span class="total2"></span><span></span>
                </div>
                {% for grade in grades %}
                    {% if (grade[0] == assignment[0]) %}
                        <div class="grade">
                        <div class="gradeItem question">     
                            <span>Question {{ grade[1] }} ({{ grade[2] }})</span>
                            <span class="avg" id="{{grade[4]}}">{{grade[4]}}/100</span><span class="avg2">{{grade[4]}}%</span><span>{{grade[5]}}</span>
                        </div>
                        
                    </div>
                    {% endif %}
                {% endfor %}
                
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}
