{% extends "base.html" %}
{% block title %}Assignments{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">    
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/button.css') }}">
{% endblock %}
{% block pageHeader %}{{ courseId[0:4] + " " + courseId[4:] }} / Assignments{% endblock %}
{% block navTop %}
    <a href="#" id="logo"><span class="material-symbols-outlined size-36">school</span></a>
    <a href="#" id="account"><span class="material-symbols-outlined">account_circle</span>Account</a>
    <a href="{{url_for('teacherHome')}}" id="home"><span class="material-symbols-outlined">home</span>Home</a>
    <a href="#" id="courses" class="active"><span class="material-symbols-outlined">library_books</span>Courses</a>
    <a href="#" id="search"><span class="material-symbols-outlined">search</span>Search</a>
{% endblock %}
{% block navBottom %}
    <a href="{{ url_for('logout') }}" id="log"><span class="material-symbols-outlined">logout</span>Logout</a>
{% endblock %}
{% block content %}
    <!-- Secondary header for course pages -->
    <header>
        <a href="{{url_for('teacherCourseDash', courseId=courseId)}}" id="Dashboard">Dashboard</a>
        <a href="{{url_for('teacherCourseAssignments', courseId=courseId)}}" id="Assignments" class="active">Assignments</a>
        <a href="{{url_for('teacherCourseGrading', courseId=courseId)}}" id="Grading">Grading</a>
        <a href="#" id="People">People</a>
    </header>
    <!-- Contains a list of assessments published and buttons for creating a quiz or assignment -->
    <div class="container-body">
        <a href="#">
            <button>
                <span class="material-symbols-outlined">edit</span>
                <span>Create Assignment</span>
            </button>
        </a>
        <a href="{{url_for('createQuiz', courseId=courseId)}}">
            <button>
                <span class="material-symbols-outlined">edit</span>
                <span>Create Quiz</span>
            </button>
        </a>
    </div>
{% endblock %}
