<!-- Extend common teacher navbar and secondary header from teacher.tmpl -->
{% extends "teacher/teacher.tmpl" %}

<!-- Webpage title -->
{% block title %}Dashboard{% endblock %}

<!-- Inherits stylesheets from base.html -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/button.css') }}"> 
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">
{% endblock %}

<!-- Set courses in navbar to active class-->
{% block courses %}active{% endblock %}

<!-- On page header displaying where you are in the course navigation -->
{% block pageHeader %}{{ courseName[0:4] + " " + courseName[4:] }} / Dashboard{% endblock %}

<!-- Set dashboard in header to active class-->
{% block dashboard %}active{% endblock %}

<!-- This is where page content goes -->
{% block content %}
    {{ super() }}
    <!-- Contains a list of files uploaded by the teacher and a button for uploading files -->
    <div class="container-body">
        <button>
            <span class="material-symbols-outlined">upload</span>
            <span>Upload File</span>
        </button>
    </div>
{% endblock %}
