<!-- Extend common teacher navbar and secondary header from teacher.tmpl -->
{% extends "teacher/teacher.tmpl" %}

<!-- Webpage title -->
{% block title %}Create Quiz{% endblock %}

<!-- Inherits stylesheets from base.html -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/button.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='CSS/quiz.css')}}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">    
    <script type="text/javascript">
        let questionNumber = 0;
        function addQuestion() {
            questionNumber++;
            document.getElementById("questionForm").insertAdjacentHTML("beforeend",
            `<div class="question-container" id="question`+ questionNumber +`">
                <div class="question-container-header">
                    Question `+ questionNumber +`
                </div>
                <div class="question">
                    <input placeholder="Question Text" class="border-box" type="text" id="questionText`+ questionNumber +`" name="questionText`+ questionNumber +`" required/>
                </div>
                <div class="question">
                    <input placeholder="Answer" class="border-box" type="text" id="answer`+ questionNumber +`" name="answer`+ questionNumber +`" required/>
                </div>
            </div>`
            );
            document.getElementById("questionList").insertAdjacentHTML("beforeend",
            `<a href="#question`+ questionNumber +`" id="questionLink`+ questionNumber +`">Question `+ questionNumber +`</a>`
            );
        }

        function removeQuestion() {
            if (questionNumber > 0) {
                document.getElementById("question" + questionNumber).remove();
                document.getElementById("questionLink" + questionNumber).remove();
                questionNumber--;
            }
        }
    </script>
{% endblock %}

<!-- Set courses in navbar to active class-->
{% block courses %}active{% endblock %}

<!-- On page header displaying where you are in the course navigation -->
{% block pageHeader %}{{ courseName[0:4] + " " + courseName[4:] }} / Assignments / Create Quiz{% endblock %}

<!-- Set assignments in header to active class-->
{% block assignments %}active{% endblock %}

<!-- This is where page content goes -->
{% block content %}
    {{ super() }}
    <!-- Contains quiz building section --> 
    <div class="container-body" style="flex-direction: row; overflow: hidden;">
        <!-- Primary column containing question builder -->
        <div class="primary-container">
            <div class="form-header">
                <input id="quizId" class="border-box" placeholder="Quiz Name" name="quizId" required form="questionForm">
                <div class="form-header-right">
                    <!-- Button for removing the most recently added question -->
                    <button type="button" onclick="removeQuestion()">
                        <span class="material-symbols-outlined">remove</span>
                        <span>Remove Question</span>
                    </button>
                    <!-- Button for adding questions -->
                    <button type="button" onclick="addQuestion()">
                        <span class="material-symbols-outlined">add</span>
                        <span>Add Question</span>
                    </button>
                </div>
            </div>
            <form action="{{ url_for('publishQuiz', courseId=courseId, courseName=courseName)}}" id="questionForm" method="post" name="questionForm"></form>
        </div>
        <!-- Secondary column containing list of links to each question added to form -->
        <div class="secondary-container">
            <div class="quiz-header">Questions</div>

            <!-- Container body that is populated with links to each question -->
            <div class="list-body" id="questionList"></div>

            <div class="footer">
                <!-- Cancel button, redirects to assignments tab -->
                <a href="{{url_for('teacherCourseAssignments', courseId=courseId, courseName=courseName)}}">
                    <button>
                        <span class="material-symbols-outlined">close</span>
                        <span>Cancel</span>
                    </button>
                </a>

                <!-- Button for publishing the assignment -->
                <button type="submit" form="questionForm">
                    <span class="material-symbols-outlined">assignment_add</span>
                    <span>Publish</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
