{% extends "base.html" %}
{% block title %}Grading{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">    
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/button.css') }}">
    <link rel="stylesheet" type="text/css" href = "../../static/CSS/seeGrades.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../static/JS/seeGrades.js"></script>
    
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var questions = document.getElementsByClassName("avg");
            var questions2 = document.getElementsByClassName("avg2");
            var totalAvg = document.getElementsByClassName("g");
            var total = document.getElementsByClassName("total");
            var total2 = document.getElementsByClassName("total2");
            
            var totals = {};
            for (let i = 0; i < totalAvg.length; i++) {
                totals[totalAvg[i].id] = 0;
            }
            average();
            totalAverage();
            function average() {
                for (let i = 0; i < questions.length; i++) {
                    let grades = document.getElementsByClassName(questions[i].id);
                    let avg = 0;
                    for (let j = 0; j < grades.length; j++) {
                        avg += parseFloat(grades[j].value);
                    }
                    avg = avg/grades.length;
                    
                    totals[grades[0].id[1]] += avg/$("#"+grades[0].id[1]+" .gradeGroup2").length;
                    avg = Math.round(avg*100)/100;
                    questions[i].innerHTML = "Average: "+ avg + "%";
                    questions2[i].innerHTML = "Average: "+ avg;

                }
            }

            function totalAverage() {
                for (let i = 0; i < total.length; i++) {
                    total[i].innerHTML = "Class Avg: "+Math.round(totals[totalAvg[i].id]*100)/100 +"%";
                    total2[i].innerHTML = "Class Avg: "+Math.round(totals[totalAvg[i].id]*100)/100;
                }
            }
        
            var inputs = $("input");
            inputs.on("blur", function() {
                let qId = this.id[0];
                let aId = this.id[1];
                let sId = this.id[2];
                const url = {{ url_for("updateGrade")|tojson }};
                var updated = $.post(url, {"courseId":1, "questionId":qId, "assignmentId":aId, "studentId":sId, "grade":this.value});
                updated.done(function(data) {
                    console.log(data);
                    average();
                })
                //$.post("{{url_for('updateGrade')}}", {courseId:1, questionId:qId, assignmentId:aId, studentId:sId});
            });
        
        });
    </script>
{% endblock %}
{% block pageHeader %}{{ courseId[0:4] + " " + courseId[4:] }} / Grading{% endblock %}
{% block navTop %}
    <a href="#" id="logo"><span class="material-symbols-outlined size-36">school</span></a>
    <a href="#" id="account"><span class="material-symbols-outlined">account_circle</span>Account</a>
    <a href="{{url_for('teacherHome')}}" id="home"><span class="material-symbols-outlined">home</span>Home</a>
    <a href="#" id="courses" class="active"><span class="material-symbols-outlined">library_books</span>Courses</a>
    <a href="#" id="search"><span class="material-symbols-outlined">search</span>Search</a>
{% endblock %}
{% block navBottom %}
    <a href="{{ url_for('logout') }}" id="log"><span class="material-symbols-outlined">logout</span>Logout</a>
{% endblock %}
{% block content %}
    <!-- Secondary header for course pages -->
    <header>
        <a href="{{url_for('teacherCourseDash', courseId=courseId)}}" id="Dashboard">Dashboard</a>
        <a href="{{url_for('teacherCourseAssignments', courseId=courseId)}}" id="Assignments">Assignments</a>
        <a href="{{url_for('teacherCourseGrading', courseId=courseId)}}" id="Grading" class="active">Grading</a>
        <a href="{{url_for('teacherCoursePeople', courseId=courseId)}}" id="People">People</a>
    </header>
    <div class="main-container">
        <div class="gradesheader">
            <span>Grade Item</span>
            <span>Submission</span><span>Grade</span><span>Percentage</span>
        </div> 
        <div class="grades">
            
            {% for assignment in assignments %}
            <div class="grade g"id="{{assignment[0]}}">
                <div class = "gradeGroup">
                    <span class="gradeTitle">&#9660; Assignment {{ assignment[0] }} ({{ assignment[1] }})</span>
                    <span></span><span class="total2"></span><span class="total"></span>
                </div>
                {% for question in questions %}
                    {% if (question[2] == assignment[0]) %}
                        <div class="grade">
                        <div class="gradeItem gradeGroup2 question">     
                            <span>&#9660; Question {{ question[0] }} ({{ question[1] }})</span>
                            <span></span><span class="avg2"></span><span class="avg" id="{{question[0]}}"></span>
                        </div>
                        {% for grade in grades %}
                            {% if (grade[0] == question[0] and grade[5] == assignment[0])%}
                                <div class="gradeItem2">     
                                    <span>{{grade[1]}} {{grade[2]}}</span>
                                    <span class="material-symbols-outlined">link</span><input id="{{question[0]}}{{assignment[0]}}{{grade[4]}}" class="{{question[0]}}" type="number" value="{{grade[6]}}" /><span>/100</span><span>{{grade[6]}}%</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
                
            </div>
            {% endfor %}
            <!-- Creates a new row for every assignment -->
            
            </div>
        </div>
    </div>
{% endblock %}
