{% extends "base.html" %}
{% block title %}Grading{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">    
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/button.css') }}">
    <link rel="stylesheet" type="text/css" href = "../../static/CSS/seeGrades.css">
    <script src="../../static/JS/seeGrades.js"></script>
{% endblock %}
{% block pageHeader %}{{ courseId[0:4] + " " + courseId[4:] }} / Grading{% endblock %}
{% block navTop %}
    <a href="#" id="logo"><span class="material-symbols-outlined size-36">school</span></a>
    <a href="#" id="account"><span class="material-symbols-outlined">account_circle</span>Account</a>
    <a href="{{url_for('teacherHome')}}" id="home"><span class="material-symbols-outlined">home</span>Home</a>
    <a href="#" id="courses" class="active"><span class="material-symbols-outlined">library_books</span>Courses</a>
{% endblock %}
{% block navBottom %}
    <a href="{{ url_for('logout') }}" id="log"><span class="material-symbols-outlined">logout</span>Logout</a>
{% endblock %}
{% block content %}
    <!-- Secondary header for course pages -->
    <header>
        <a href="{{url_for('teacherCourseDash', courseId=courseId)}}" id="Dashboard">Dashboard</a>
        <a href="{{url_for('teacherCourseAssignments', courseId=courseId)}}" id="Assignments">Assignments</a>
        <a href="{{url_for('teacherCourseGrading', courseId=courseId)}}" id="Grading" class="active">Grading</a>
        <a href="{{url_for('teacherCoursePeople', courseId=courseId)}}" id="People">People</a>
    </header>
    <div class="main-container">
        <div class="gradesheader">
            <span>Grade Item</span>
            <span>Submission</span><span>Grade</span><span>Percentage</span>
        </div> 
        <div class="grades">
        <div class="grade"id="assignments">
            <div class = "gradeGroup">
                <span class="gradeTitle">&#9660; Assignments</span>
                <span></span><span></span><span></span>
                
            </div>
            <div class="grade" id="test">
                <div class = "gradeGroup2 gradeItem">
                    <span class="gradeTitle">&#9660; Assignment 1</span>
                    <span></span><span></span><span></span>
                </div>
                <div class="gradeItem2">     
                    <span>Student 1</span>
                    <span class="material-symbols-outlined">link</span><span>90/100</span><span>90%</span>
                </div>
            </div>
            <!-- Creates a new row for every assignment -->
            
            </div>
        </div>
    </div>
{% endblock %}
