<!-- Extend common teacher navbar and secondary header from teacher.tmpl -->
{% extends "teacher/teacher.html" %}

<!-- Webpage title -->
{% block title %}Grading{% endblock %}

<!-- Inherits stylesheets from base.html -->
{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../static/JS/seeGrades.js"></script>
    <link rel="stylesheet" type="text/css" href = "../../static/CSS/seeGrades.css">
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Create variables for DOM elements
            var questions = document.getElementsByClassName("avg");
            var questions2 = document.getElementsByClassName("avg2");
            var totalAvg = document.getElementsByClassName("g");
            var total = document.getElementsByClassName("total");
            var total2 = document.getElementsByClassName("total2");
            var totals = {};
            
            average();
            
            
            // Determines the average grade for a question, and shows the results
            function average() {
                // Object for average grades for assignments
                totals={};
                // Set every assignmentId key value pair to 0
                for (let i = 0; i < totalAvg.length; i++) {
                    totals[totalAvg[i].id] = 0;
                }
                for (let i = 0; i < questions.length; i++) {
                    let grades = document.getElementsByClassName(questions[i].id);
                    let avg = 0;
                    // For every question, add the grade to the average
                    for (let j = 0; j < grades.length; j++) {
                        avg += parseFloat(grades[j].value);
                    }
                    avg = avg/grades.length;
                    // For total assignment grade, adds question average divided by number of questions to the value associated with the current assignmentId
                    
                    totals[questions[i].id[1]] += avg/$("#"+questions[i].id[1]+" .gradeGroup2").length;
                    
                    avg = Math.round(avg*100)/100;
                    // Adds average to desired element on page
                    if (avg == null) {
                        avg = 0;
                    }
                    questions[i].innerHTML = "Average: "+ avg + "%";
                    questions2[i].innerHTML = "Average: "+ avg;

                }
                totalAverage();
            }

            // Shows the average grade for an assignments
            function totalAverage() {
                for (let i = 0; i < total.length; i++) {
                    let avg2 = Math.round(totals[totalAvg[i].id]*100)/100;
                    if (avg2 == null) {
                        avg2 = 0;
                    }
                    total[i].innerHTML = "Class Avg: "+avg2 +"%";
                    total2[i].innerHTML = "Class Avg: "+avg2;
                }
            }
        
            // Function for updating the Grade table when a user clicks off the text box
            var inputs = $("input");
            inputs.on("blur", function() {
                // The id for input area is questionId+assignmentId+studentId, so it just pulls from that
                let qId = this.id[0];
                let aId = this.id[1];
                let sId = this.id[2];
                $(this).next().next().html(this.value +"%");
                insert = 0;
                if ($(this).hasClass("insert")) {
                    insert = 1;
                }
                // Sets URL for updatingGrade
                const url = {{ url_for("updateGrade")|tojson }};
                // Does an AJAX POST requset to updateGrade, updating grade in the process
                var updated = $.post(url, {"courseId":{{courseId}}, "questionId":qId, "assignmentId":aId, "studentId":sId, "grade":this.value, "insert":insert});
                updated.done(function(data) {
                    // When finished, run the average function again to update the averages
                    console.log(data);
                    
                   
                    average();
                    
                })
            });
        
        });
    </script>
{% endblock %}

<!-- Set courses in navbar to active class-->
{% block courses %}active{% endblock %}

<!-- On page header displaying where you are in the course navigation -->
{% block pageHeader %}{{ courseName[0:4] + " " + courseName[4:] }} / Grading{% endblock %}

<!-- Set grading in header to active class-->
{% block grading %}active{% endblock %}

<!-- This is where page content goes -->
{% block content %}
    {{ super() }}
    <div class="main-container">
        <div class="gradesheader">
            <span>Grade Item</span>
            <span>Submission</span><span>Grade</span><span>Percentage</span>
        </div> 
        
        <div class="grades">
            <!-- For every assignment in course, create a new dropdown list-->
            {% for assignment in assignments %}
            <div class="grade g"id="{{assignment[0]}}">
                <div class = "gradeGroup">
                    <span class="gradeTitle">&#9660; Assignment {{ assignment[0] }} ({{ assignment[1] }})</span>
                    <span></span><span class="total2"></span><span class="total"></span>
                </div>
                <!-- For every question in assignment, create a drop down list containing each student-->
                {% for question in questions %}
                    {% if (question[2] == assignment[0]) %}
                        <div class="grade">
                        <div class="gradeItem gradeGroup2">     
                            <span>&#9660; Question {{ question[0] }} ({{ question[1] }})</span>
                            <span></span><span class="avg2"></span><span class="avg" id="{{question[0]}}{{assignment[0]}}"></span>
                        </div>
                        <!-- For every student, display their results to the question with an input box to update their grade -->
                        {% for i in range(0, solutions|length) %}
                        {% set noGrades = false %}<!-- Variable that determines if grade is present in database -->
                        <!-- If grade exists, make sure it's the right grade for the right question, then display it -->
                        {% if grades[i] != 0 %}
                            {% if (grades[i][0] == question[0] and grades[i][5] == assignment[0])%}
                                <div class="gradeItem2">     
                                    <span>{{grades[i][1]}} {{grades[i][2]}}</span>
                                    <span class="material-symbols-outlined">
                                        <a href="{{url_for('teacherAssignment', _anchor=question[0]|string, firstName=grades[i][1], lastName=grades[i][2], courseId=courseId, courseName=courseName, assignmentId=assignment[0], assignmentName=assignment[1]|safe, studentId=grades[i][4])}}">
                                        link</a></span>
                                    
                                    <input id="{{question[0]}}{{assignment[0]}}{{grades[i][4]}}" class="{{question[0]}}{{assignment[0]}}" type="number" value="{{grades[i][6]}}" /><span>/100</span><span>{{grades[i][6]}}%</span>
                                </div>
                            {% else %}
                            {% set noGrade = true %}
                            {% endif %}
                            {% else %}
                            {% set noGrade = true %}
                            {% endif %}
                            <!-- If solutions exists, make sure it's the right solution for the right question, and that there isn't an already existing grade value -->
                            {% if solutions %}
                            {% if (solutions[i][0] == question[0] and solutions[i][1] == assignment[0] and noGrade == true)%}
                                <div class="gradeItem2">     
                                    <span>{{solutions[i][3]}} {{solutions[i][4]}}</span>
                                    <span class="material-symbols-outlined">
                                        <a href="{{url_for('teacherAssignment', _anchor=question[0]|string, firstName=solutions[i][3], lastName=solutions[i][4], courseId=courseId, courseName=courseName, assignmentId=assignment[0], assignmentName=assignment[1]|safe, studentId=solutions[i][2])}}">
                                        link</a></span>
                                    
                                    <input id="{{question[0]}}{{assignment[0]}}{{solutions[i][2]}}" class="{{question[0]}}{{assignment[0]}} insert" type="number" value="" /><span>/100</span><span></span>
                                </div>
                            {% endif %}
                            {% endif %}
                        
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
                
            </div>
            {% endfor %}
            
            
            </div>
        </div>
    </div>
{% endblock %}
