<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/general.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/navbar.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/pageBody.css') }}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="{{ url_for('static', filename='js/courseCard.js')}}" type="text/javascript" defer></script>
    <script>
        const courseList = JSON.parse('{{ courses|tojson|safe }}');
    </script>
</head>
<body style="display: flex; flex-direction: row; overflow: hidden;">
    <!-- Navigation bar -->
    <nav class="navbar">
        <!-- Contains the top aligned elements -->
        <div class="navbar-top">
            <a href="#" id="Logo"><span class="material-symbols-outlined size-36">school</span></a>
            <a href="#" id="Account"><span class="material-symbols-outlined">account_circle</span>Account</a>
            <a href="{{url_for('teacherHome')}}" id="Home" class="active"><span class="material-symbols-outlined">home</span>Home</a>
            <a href="#" id="Courses"><span class="material-symbols-outlined">library_books</span>Courses</a>
            <a href="#" id="Search"><span class="material-symbols-outlined">search</span>Search</a>
        </div>
        <!-- Contains the bottom aligned elements -->
        <div class="navbar-bottom">
            <a href="{{url_for('logout')}}" id="Logout"><span class="material-symbols-outlined">logout</span>Logout</a>
        </div>
    </nav>
    
    <!-- Main body of page -->
    <!-- Contains a list of courses being taught by a teacher -->
    <div class="page-container">
        <div class="container">
            <div class="header">Teacher Dashboard</div>
            <div class="container-body overflow">
                <!-- this makes a link for every course in the database currently-->
                <!-- change later -->
                {% for course in courses %}
                <span slot="contents" >
                    <a href="{{url_for('teacherCourseDash', courseId=course[0])}}">
                    <course-card-component id="{{ course[1] }}">
                        <span slot="courseId">{{ course[1][0:4] + " " + course[1][4:]}}</span>
                        <span slot="courseName"></span>
                    </course-card-component>
                    </a>
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
