<!-- Extend common teacher navbar and secondary header from teacher.tmpl -->
{% extends "teacher/teacher.tmpl" %}

<!-- Webpage title -->
{% block title %}Publish Quiz{% endblock %}

<!-- Inherits stylesheets from base.html -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">
{% endblock %}

<!-- Set courses in navbar to active class-->
{% block courses %}active{% endblock %}

<!-- On page header displaying where you are in the course navigation -->
{% block pageHeader %}{{ courseName[0:4] + " " + courseName[4:] }} / Assignments / Create Quiz / Publish Quiz{% endblock %}

<!-- Set assignments in header to active class-->
{% block assignments %}active{% endblock %}

<!-- This is where page content goes -->
{% block content %}
    {{ super() }}
    <div class="container-body">
        <!-- This just prints the key value pairs submitted from the createQuiz form -->
        <div>
            {% for key,value in questionForm.items() %}
            <strong>{{key}}</strong>: {{value}}
            {% endfor %}
        </div>
    </div>
{% endblock %}
