{% extends "base.html" %}
{% block title %}COSC 310 Publish Quiz{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/courseHeader.css') }}">
{% endblock %}
{% block pageHeader %}COSC 310 / Assignments / Create Quiz / Publish Quiz{% endblock %}
{% block navTop %}
    <a href="#" id="logo"><span class="material-symbols-outlined size-36">school</span></a>
    <a href="#" id="account"><span class="material-symbols-outlined">account_circle</span>Account</a>
    <a href="{{url_for('teacherHome')}}" id="home" class="active"><span class="material-symbols-outlined">home</span>Home</a>
    <a href="#" id="courses"><span class="material-symbols-outlined">library_books</span>Courses</a>
    <a href="#" id="search"><span class="material-symbols-outlined">search</span>Search</a>
{% endblock %}
{% block navBottom %}
    <a href="{{ url_for('logout') }}" id="Logout"><span class="material-symbols-outlined">logout</span>Logout</a>
{% endblock %}
{% block content %}
    <!-- Secondary header for course pages -->
    <header>
        <a href="{{url_for('teacherCourseDash')}}" id="Dashboard">Dashboard</a>
        <a href="{{url_for('teacherCourseAssignments')}}" id="Assignments" class="active">Assignments</a>
        <a href="#" id="Grading">Grading</a>
        <a href="#" id="People">People</a>
    </header>
    <div class="container-body">
        <!-- This just prints the key value pairs submitted from the createQuiz form -->
        <div>
            {% for key,value in questionForm.items() %}
            <strong>{{key}}</strong>: {{value}}
            {% endfor %}
        </div>
    </div>
{% endblock %}