.aside {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: var(--primary);
    margin-left: auto;
    height: 10%;
}

/* Search */

form#Search input[type=text],
form#Search input[type=button] {
    margin: 1em,1em,0em,1em;
    position: relative;
    right: -50%;
    width: 85%;
    transform: translate(-50%, 0);
}

form#Search #Selected {
    background-color: lightgray;
}
