.course {
    background-color: var(--modal);
    width: 15em;
    height: 13em;
    margin: 2em;
    border-radius: 1em;
}

.courseRow {
    display: flex;
    justify-content: flex-start;
}

.main-container {
    overflow: auto;
}

.banner {
    background-color: red;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    padding-top: 6em;
    height: 3em;
    margin-bottom: 0.5em;
}

.course p {
    margin-left: 0.5em;
}

.container-header {
    font-weight: bold;
    font-size:larger;
}