/* Clear browser default padding and margins */
html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

/*              */
/*  Variables   */
/*              */
:root {
    --modal:#FEFEFE;
    --modalFooter: #F1F1F1;
    --contentBox: #F8F8F8;
    --outlineColor: #CECECE;
    --backgroundModal: rgb(0, 0, 0, 0.4);
    --darkVariant: #99B0AE;
    --primary: #B4CBC9;
    --secondary: #D0E7E5;
    --lightVariant: #2d3837;
    --redButton: #FF5449;


    --narbarWidth: 5em;
    --sidebarWidth: 10em;
}

/* Site wide font and colors */
body, h1, h2, h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 1.5em;
}

body {
    background-color: white;
}

/* Disable link styling by default */
a {
    text-decoration: none; 
    color: inherit;
}

/* Center Div in middle of the page */
.center {
    /* Position the login screen in the very center of the page */
    position: absolute;
    top: 50%;
    left: 50%;
    /* Adjust for the width of the div */
    transform: translate(-50%, -50%);
}

/* Stylings for the main body of the page */
#body {
    margin-left: var(--narbarWidth);
    margin-right: var(--sidebarWidth);
    background-color: white;

    padding: 1em;
}

/*                  */
/*      Forms       */
/*                  */

form {
    background-color: var(--modal);
    padding: 1em;
    width: 13em;
    border-radius: 0em;
    overflow: auto;
}

form * {
    margin: 0.25em;
}

form input{
    width: 15em;
}

#Submit{
    float: right;
    width: 6em;
}

#Back {
    float: left;
    width: 6em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

span.size-36 {
    font-size: 36px;
    font-variation-settings: 'OPSZ' 36;
}
