/* Navbar flex container */
.navbar {
    display: flex;
    flex-direction: column;
    background-color: #B4CBC9;
    height: 100vh;
    width: 80px;
    justify-content: space-between;
}

/* Navigation menu links */
.navbar a {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 48px;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Current navigation menu link */
.navbar a.active {
    background-color: white;
}

/* Navigation menu links on hover */
.navbar a:hover:not(.active) {
    background-color: #99B0AE;
    color: white;
}

/* Top navigation menu */
.navbar-top {
    display: flex;
    flex-direction: column;
}

/* Bottom navigation menu */
.navbar-bottom {
    display: flex;
    flex-direction: column;
}
