/* Navbar flex container */
.navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    width: 80px;
}

/* Navigation menu links */
.navbar a {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Current navigation menu link */
.navbar a.active {
    background-color: white;
}

/* Navigation menu links on hover */
.navbar a:hover:not(.active) {
    background-color: var(--darkVariant);
    color: white;
}

/* Top navigation menu */
.navbar-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Bottom navigation menu */
.navbar-bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
