

.main-container {
    overflow: auto;
}
.grade {
    display: flex;
    flex-direction: column;
    
}


.gradeGroup, .gradeItem, .gradeItem2, .gradeGroup2 {
    background-color: var(--modal);
    margin: 2em 2em 0em 2em;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    border: var(--outlineColor) solid 0.1em;
    border-radius: 0.5em;
    overflow: auto;
}
.gradeGroup, .gradeGroup2 {
    z-index: 2;
}

.gradeTitle{
    font-size: large;
}

.gradeItem {
    margin: 0em 2em 0em 4em;
    animation-duration: 0.48s;
    animation-name: slidein;
    animation-direction: alternate;
    
    z-index: 1;
}

.gradeItem2 {
    margin: 0em 2em 0em 6em;
    animation-duration: 0.48s;
    animation-name: slidein;
    animation-direction: alternate;
    
    z-index: 0;
}

:root {
    --slide:0em;
}
@keyframes slidein {
    from {
        position: relative;
        top: var(--slide);
    }

    to {
        position: relative;
        top: 0em;
    }
}

.gradesheader {
    margin: 2em 3em -1em 5.5em;
    display: flex;
    justify-content: flex-start;
    
    font-size: 1em;
}


.gradeGroup span, .gradeItem span, .gradesheader span, .gradeItem2 span, .gradeGroup2 span {
    
    width: 8em;
    text-align: center;
}

.gradeGroup :first-child, .gradesheader :first-child {
   text-align: left;
   width:25em;
   padding-left: 0em;
}


.gradeGroup:hover, .gradeGroup2:hover {
    cursor:pointer;
}

.gradeItem :first-child, .gradesheader :first-child, .gradeItem2 :first-child {
    text-align: left;
    width: 15em;
    padding-left: 0em;
}




.gradeItem :first-child {
    width: 19em;
}

.gradeGroup :first-child, .gradesheader :first-child {
    width: 18.75em;
}

.gradeGroup :nth-last-child(1), .gradesheader :nth-last-child(1) {
text-align: right;
width: 12em;
padding-right: 1em;
margin-left: 3em;
}

.gradeItem :last-child, .gradeItem2 :last-child {
    width: 17em;
    padding-right: 1em;
    margin-left: 1em;
    text-align: right;
}
 

.gradeGroup :nth-last-child(1), .gradesheader :nth-last-child(1) {
    text-align: right;
    width: 15em;
}




.gradeGroup :nth-child(2), .gradesheader :nth-child(2) {
    width: 27em;
}

.gradeItem :nth-child(2) {
    width: 27em;
}


.gradeGroup2 :first-child{
    width: 17em;
}

.gradeItem2 :first-child {
    width: 17em;
}

.gradeItem2 :nth-child(2) {
    width: 20em;
}

.hide {
    display: none;
    height: 0;
    
}


