{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/form.css') }}">
    
    
    <script>
        // Run once document is loaded
        document.addEventListener('DOMContentLoaded', function (){
            
            {% if error %}
                alert('That user name already exists')
            {% endif %}

            // Remove highlight from inputs when clicked on
            document.querySelector('select').addEventListener('click', function (e){
                e.target.classList.remove('highlight');
            });

            inputs = document.querySelectorAll('input');
            inputs.forEach(input => {
                input.addEventListener('click', function (e){
                    e.target.classList.remove('highlight');
                });
            });

            // Verify form inputs are submitted properly
            document.querySelector('form').addEventListener('submit', function (e){
                // Check selector
                let selector = document.querySelector('#accountType');
                if (selector.value == "select") {
                    e.preventDefault();
                    selector.classList.add('highlight');
                }

                // Check email
                let email = document.querySelector("#email");
                let re = /^[a-zA-Z1-9.]+@[a-zA-Z1-9.]+.[a-zA-Z1-9]+/;
                if (email.value.trim() == "") {
                    e.preventDefault();
                    email.classList.add('highlight');

                }

                // Check email format
                if (!email.value.trim().match(re)) {
                    e.preventDefault();
                    email.classList.add('highlight');

                    // Add warning text to the email div
                    let warning = document.createElement('div');
                    warning.textContent = 'Invalid Email Entered';
                    document.querySelector("#emailDiv").appendChild(warning);
                }

                // Check first name
                let fname = document.querySelector("#fname")
                if (fname.value.trim() == '') {
                    e.preventDefault();
                    fname.classList.add('highlight');

                }

                // Check last name
                let lname = document.querySelector("#lname")
                if (lname.value.trim() == '') {
                    e.preventDefault();
                    lname.classList.add('highlight');
                }

                // Check username 
                let username = document.querySelector("#uname") 
                if (username.value.trim() == '') {
                    e.preventDefault();
                    username.classList.add('highlight');
                }

                // Check password
                let password = document.querySelector("#password")
                if (password.value.trim() == '') {
                    e.preventDefault();
                    password.classList.add('highlight');
                }
            });


            document.getElementById('Cancel').addEventListener('click', function (e) {
                e.preventDefault();

                window.location.replace("{{ url_for('login') }}");
            })
        });
    </script>
{% endblock %}
{% block pageHeader %}Create an OpenEdu Account{% endblock %}
{% block navTop %}
    <a href="#" id="logo"><span class="material-symbols-outlined size-36">school</span></a>
{% endblock %}
{% block navBottom %}
    <a href="{{ url_for('login') }}" id="log"><span class="material-symbols-outlined">login</span>Login</a>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <form action="{{ url_for('createAccount')}}" method="post" class="center">
        <div class="FormLine FormHeader">
            <legend>Sign Up</legend>
        </div>
        
        <div class="FormLine">
            <select name="accountType" id="accountType">
                <option value="select" selected>Account Type</option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
            </select> <br>
        </div>
        
        <div class="FormLine" id="emailDiv">
            <label for="email">Email</label> <br>
            <input type="email" name="email" id="email" placeholder="Enter Email"> <br>
        </div>

        <div class="FormLine">
            <div class="left">
                <label for="fname">First Name</label> <br>
                <input type="text" name="fname" id="fname" placeholder="First Name">
            </div>

            <div class="right">
                <label for="lname">Last Name</label> <br>
                <input type="text" name="lname" id="lname" placeholder="Last Name"> <br>
            </div>

        </div>

        <div class="FormLine">
            <label for="text">Username</label> <br>
            <input type="text" name="uname" id="uname" placeholder="Enter Username"> <br>
        </div>

        <div class="FormLine">
            <label for="password">Password</label> <br>
            <input type="password" name="password" id="password" placeholder="Enter Password"> <br>
        </div>

        <div class="FormLine buttons FormFooter">
            <div class="left">
                <button id="Cancel">Cancel</button>
            </div>
            <div class="right">
                <button type="submit" class="right">Sign Up</button> <br>
            </div>
        </div>

        
    </form>
{% endblock %}
