<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Approve Registration</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/general.css" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/aside.css" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/navbar.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/CSS/pageContent.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static//CSS/approveRegistration.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let groups = document.querySelectorAll(".grade");

        groups.forEach((group) => {
          let button = group.querySelector(".gradeGroup");

          button.addEventListener("click", function () {
            let items = group.querySelectorAll(".gradeItem, .studentList");

            items.forEach((item) => {
              if (item.classList.contains("expanded")) {
                item.classList.remove("expanded");
              } else {
                item.classList.add("expanded");
              }
            });
          });
        });
      });
    </script>
  </head>

  <body>
    <div class="flex-container">
      <nav class="navbar">
        <!-- Contains the top aligned elements (Generic) -->
        <ul class="navbar-top">
          <li>
            <a href="" id="Logo">
              <span class="material-symbols-outlined size-36"> school </span>
            </a>
          </li>
          <li>
            <a href="" class="active" id="Home">
              <span class="material-symbols-outlined"> home </span>Home
            </a>
          </li>
          <li>
            <a href="" id="Search">
              <span class="material-symbols-outlined"> search </span>Search
            </a>
          </li>
        </ul>
        <!-- Contains the bottom aligned elements (Page specific) -->
        <ul class="navbar-bottom">
          <li>
            <a href="{{url_for('login')}}" id="Logout">
              <span class="material-symbols-outlined"> logout </span>Logout
            </a>
          </li>
        </ul>
      </nav>
      <main>
        <div class="main-container" style="width: 82vw">
          <div class="container-header">Course Registration Requests</div>

          <div class="grade" id="assignments">
            <div class="gradeGroup">
              <!-- Session name -->
              <!--Also, &#9660 is the cool arrow that Jeremy put in! -->
              <span class="gradeTitle">&#9660; 2024 Summer</span>
            </div>

            <!-- First Course -->
            <div class="courseContainer">
              <div class="gradeItem">
                <span>COSC 111</span>
              </div>
              <!-- Student List for COSC 111 -->
              <div class="studentList">
                <!-- Student Details and Buttons -->

                <span>Student Name</span>
                <span>Student ID</span>
                <span>Year Level</span>

                <!-- Buttons to deny/accept student-->
                <button class="denyButton">Deny</button>
                <button class="approveButton">Approve</button>
              </div>
            </div>

            <!-- Second Course -->
            <div class="courseContainer">
              <div class="gradeItem">
                <span>COSC 211</span>
              </div>
              <!-- Student List for COSC 211 -->
              <div class="studentList">
                <!-- Student Details and Buttons -->

                <span>Student Name</span>
                <span>Student ID</span>
                <span>Year Level</span>

                <!-- Buttons to deny/accept student-->
                <button class="denyButton">Deny</button>
                <button class="approveButton">Approve</button>
              </div>
              <div class="studentList">
                <!-- Student Details and Buttons -->

                <span>Student Name</span>
                <span>Student ID</span>
                <span>Year Level</span>

                <!-- Buttons to deny/accept student-->
                <button class="denyButton">Deny</button>
                <button class="approveButton">Approve</button>
              </div>
            </div>

            <!-- Add more courses in similar structure! Will have to implement backend -->
          </div>

          <!-- For testing! Will remove later -->
        </div>
      </main>
    </div>
  </body>
</html>
