<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type= "text/css" href= "../static/CSS/general.css">
        <link rel="stylesheet" type= "text/css" href= "../static/CSS/aside.css">
        <link rel="stylesheet" type= "text/css" href= "../static/CSS/navbar.css">
        <link rel="stylesheet" type= "text/css" href= "../static/CSS/pageContent.css">
        <link rel="stylesheet" type= "text/css" href= "../static/CSS/courses.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                let courses = document.getElementsByClassName("banner");
                let green = "rgba(207,234,195,255)";
                let yellow = "rgba(236,228,195,255)";
                let pink = "rgba(254,219,215,255)";
                let blue = "rgba(193,220,235,255)";
                let purple = "rgba(216, 215, 254, 255)";
                let colors = [green, yellow, pink, blue, purple];
                let colorIndex = 0;
                for (let i = 0; i < courses.length; i++) {
                    courses[i].style.backgroundColor = colors[colorIndex];
                    colorIndex++;
                    if (colorIndex > colors.length - 1) {
                        colorIndex = 0;
                    }
                }
                
            });
        </script>
    </head>
    <body>
        <div class="flex-container">
            <nav class="navbar">
                <!-- Contains the top aligned elements (Generic) -->
                <ul class="navbar-top">
                    <li>
                        <a href="{{ url_for('home')}}" id="Logo">
                            <span class="material-symbols-outlined size-36">
                                school
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('home')}}" class="active" id="Home">
                            <span class="material-symbols-outlined">
                                home
                            </span>Home
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('search')}}" id="Search">
                            <span class="material-symbols-outlined">
                                search
                            </span>Search
                        </a>
                    </li>
                </ul>
                <!-- Contains the bottom aligned elements (Page specific) -->
            <ul class="navbar-bottom">
                <li>
                    <a href="{{url_for('logout')}}" id="Logout">
                        <span class="material-symbols-outlined">
                            logout
                        </span>Logout
                    </a>
                </li>
            </ul>
            </nav>
            <main>
                <div class="main-container" style="width: 82vw;" id="courses">
                    
                    <div class="container-header">Registered Courses</div>
                    <div class="coursesGroup">
                    {% for i in range(0, (courses|length/4)|int + 1) %}
                    
                    <div class="courseRow">
                        {% set max = (i+1)*4 %}
                        {% if max > courses|length %}
                            {% set max = courses|length %}
                        {% endif %}
                        
                        {% for j in range(i*4, max) %}
                    
                    <div class="course">
                    <a href="{{ url_for('courseDashboard', courseId=courses[j][0]) }}"> <!-- URL FOR COURSE HOMEPAGE GOES HERE -->
                        <div class="banner"><span></span></div>
                        <p>{{courses[j][1]}} {{courses[j][2]}} {{courses[j][3]}}</p>
                        <p>FULL COURSE NAME GOES HERE</p>
                    </a>
                    </div>
                    
                        {% endfor %}
                    
                    </div>
                    {% endfor %}
                    </div>
                    </div>
                </div>
            </main>
          
        </div>
    </body>