<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/general.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/aside.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/navbar.css') }}">

</head>
<body>
    <body>
        <!-- Navigation bar -->
        <!-- Left Column -->
        <nav>
            <!-- Contains the top aligned elements (Generic) -->
            <div id="Top">
                <a href=""><div class="MenuItem" id="Logo">Logo</div></a>
                <a href=""><div class="MenuItem" id="Home">Home</div></a>
                <a href=""><div class="MenuItem" id="Search">Search</div></a>
            </div>
    
            <!-- Contains the bottom aligned elements (Page specific) -->
            <div id="Bottom">
                <div class="MenuItem Selected" id="Logout">Login</div>
            </div>
        </nav>
    
        <!-- Main body of page -->
        <div id="body" class="center">
            <form action="{{url_for('authenticate')}}" method="post">
                <legend>Login:</legend>
                <input type="text" name="username" placeholder="Username...">
                <input type="password" name="password" placeholder="Password...">
                <input type="submit" value="Submit" id="Submit">
                <input type="button" value="Back" id="Back">
            </form>
        </div>

    </body>
</body>
</html>