{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/form.css') }}">
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('Cancel').addEventListener('click', function (e) {
            e.preventDefault();
            window.location.replace('/');
        })
    })
    </script>
{% endblock %}
{% block pageHeader %}Login to OpenEdu{% endblock %}
{% block navTop %}
    <a href="#" id="logo"><span class="material-symbols-outlined size-36">school</span></a>
{% endblock %}
{% block navBottom %}
    <a href="{{ url_for('login') }}" id="log"><span class="material-symbols-outlined">login</span>Login</a>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <form action="{{ url_for('login')}}" method="post" class="center">
        <div class="FormLine FormHeader">
            <legend>Login
            {% if error %}
                <p><strong>Error:</strong> {{ error }}
            {% endif %}
                </legend>
        </div>
        
        <div class="FormLine">
            <label for="text">Username</label> <br>
            <input type="text" name="uname" id="username" placeholder="Enter Username"> <br>
        </div>

        <div class="FormLine">
            <label for="password">Password</label> <br>
            <input type="password" name="password" id="password" placeholder="Enter Password"> <br>
        </div>

        <div class="FormLine LineButton">
            <button type="submit">Login</button>
        </div>

        <div class="FormLine buttons FormFooter">
            <div class="left">
                <button id="Cancel">Cancel</button>
            </div>
            <div class="right">
                <a href="{{ url_for('createAccount')}}" class="right" style="width: 80%;">Sign Up</a> <br>
                <a class="right" style="width: 80%;">Forgot Password?</a> <br>
            </div>
        </div>
    </form>
{% endblock %}
