<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Grades</title>
        <link rel="stylesheet" type= "text/css" href= "../static/CSS/general.css">
        <link rel="stylesheet" type= "text/css" href= "../static/CSS/aside.css">
        <link rel="stylesheet" type= "text/css" href= "../static/CSS/navbar.css">
        <link rel="stylesheet" type= "text/css" href= "../static/CSS/seeGrades.css">
    </head>
    <body>
        <nav>
            <!-- Contains the top aligned elements (Generic) -->
            <div id="Top">
                <a href=""><div class="MenuItem" id="Logo">Logo</div></a>
                <a href=""><div class="MenuItem" id="Home">Home</div></a>
                <a href=""><div class="MenuItem" id="Search">Search</div></a>
            </div>
    
            <!-- Contains the bottom aligned elements (Page specific) -->
            <div id="Bottom">
                <div class="MenuItem Selected" id="Logout">Login</div>
            </div>
        </nav>
        <main>
            
        </main>
    </body>
</html>