<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/general.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/aside.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/navbar.css') }}">

</head>
<body>
    <body>
        <!-- Navigation bar -->
        <!-- Left Column -->
        <nav>
            <!-- Contains the top aligned elements (Generic) -->
            <div id="Top">
                <a href=""><div class="MenuItem" id="Logo">Logo</div></a>
                <a href=""><div class="MenuItem" id="Home">Home</div></a>
                <a href=""><div class="MenuItem" id="Search">Search</div></a>
            </div>
    
            <!-- Contains the bottom aligned elements (Page specific) -->
            <div id="Bottom">
                <a href=""><div class="MenuItem" id="Logout">Login</div></a>
            </div>
        </nav>
    
        <!-- Information about user -->
        <!-- Right column -->
        <aside>
            <div id="asideItem">Title</div>
            <div id="asideItem">Description</div>
            <div id="asideItem">Links</div>
            <div id="asideFooter"></div>
        </aside>
    
        <!-- Main body of page -->
        <!-- Contains a list of popular posts -->
        <div id="body">
            In page text
        </div>

    </body>
</body>
</html>