<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/general.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/navbar.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/pageContent.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/form.css') }}">
    <script>
        // Run once document is loaded
        document.addEventListener('DOMContentLoaded', function (){
            
            document.querySelector('#password').addEventListener('click', function (e){
                e.target.classList.remove('highlight');
            });
            document.querySelector('#repassword').addEventListener('click', function (e){
                e.target.classList.remove('highlight');
            });

            // Verify form inputs are submitted properly
            document.querySelector('form').addEventListener('submit', function (e){

                // Check password
                let password = document.querySelector("#password")
                let repassword = document.querySelector("#repassword")

                if (password.value != repassword.value && password.value.trim != '') {
                    e.preventDefault();
                    password.classList.add('highlight');
                    repassword.classList.add('highlight');
                }
                e.preventDefault();
            });
        });
    </script>
</head>
<body>
<div class="flex-container">
    <!-- Navigation bar -->
    <!-- Left Column -->
    <nav class="navbar">
        <!-- Contains the top aligned elements (Generic) -->
        <ul class="navbar-top">
            <li>
                <a href="{{ url_for('home') }}" id="Logo">
                    <span class="material-symbols-outlined size-36">
                        school
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('home') }}" class="active" id="Home">
                    <span class="material-symbols-outlined">
                        home
                    </span>Home
                </a>
            </li>
            <li>
                <a href="{{ url_for('search') }}" id="Search">
                    <span class="material-symbols-outlined">
                        search
                    </span>Search
                </a>
            </li>
        </ul>

        <!-- Contains the bottom aligned elements (Page specific) -->
        <ul class="navbar-bottom">
            <li>
                <a href="{{url_for('logout')}}" id="Logout">
                    <span class="material-symbols-outlined">
                        logout
                    </span>Login
                </a>
            </li>
        </ul>
    </nav>

    <!-- Main body of page -->
    <div class="main-container">
        <div class="overlay"></div>
            <form action="{{ url_for('updateAccount')}}" method="post" class="center">
                <div class="FormLine FormHeader">
                    <legend>Update User Details</legend>
                </div>
                
                <div class="FormLine">
                    <p>Full Name: <span>Aidan Morris</span></p>
                </div>

                <div class="FormLine">
                    <label for="email">Email: <span>test@email.com</span></label> <br>
                    <input type="email" name="email" id="email" placeholder="Change Email"> <br>
                </div>

                <div class="FormLine">
                    <label for="password">Password</label> <br>
                    <input type="password" name="password" id="password" placeholder="Change Password" > <br>
                </div>
                
                <div class="FormLine" style="padding-top: 0em;">
                    <input type="password" name="password" id="repassword" placeholder="Retype Password"> <br>
                </div>

                <div class="FormLine buttons">
                    <div class="left">
                        <button onclick="javasrcipt:window.history.back();">Cancel</button>
                    </div>
                    <div class="right">
                        <button type="submit" class="right" style="width: 80%;">Submit Changes</button> <br>
                    </div>
                </div>
            </form>

    </div>
</div>

</body>
</html>